@page "/"
@using Markdig
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div>@((MarkupString)markdownContent)</div>


@code {
    private string markdownContent = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();

        var response = await Http.GetStringAsync("content/hello-world.md");
        markdownContent = Markdown.ToHtml(response, pipeline);
    }
}