@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row">
            <NavLink class="nav-link logo" href="">babanazarkamyljanov.dev</NavLink>
            <NavLink class="nav-link" href="blogs">Blogs</NavLink>
            <NavLink class="nav-link" href="projects">Projects</NavLink>
            <NavLink class="nav-link" href="#">About</NavLink>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
