@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row">
            <a class="logo" href="">babanazarkamyljanov.dev</a>
            <nav class="nav-menu">
                <NavLink class="nav-link" href="blogs">Blogs</NavLink>
                <NavLink class="nav-link" href="projects">Projects</NavLink>
                <NavLink class="nav-link" href="#">About</NavLink>
            </nav>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
