@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row" >
            <NavLink class="nav-link" href="">Blogs</NavLink>
            <NavLink class="nav-link" href="#" target="_blank">Projects</NavLink>
            <NavLink class="nav-link" href="#" target="_blank">About</NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
